<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta http-equiv="X-UA-Compatible" content="ie=edge">
<meta name="Description" content="Enter your description here"/>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.2/css/bootstrap.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/css/all.min.css">
<title>PyApp | Dashboard</title>
<style>
    body{
        background-color: #f0f0f0;
    }


    #pastors{
        background-color: #343a40;
    }


    #members{
        background-color: #343a40;
    }

    #cell-ministry{
        background-color: #343a40;
    }
    </style>
</head>
<body>
    {% include 'app/navbar.html' %}
    <br>
    {% if request.user.is_superuser %}
<section>
    <div class="container-fluid">
        
        <div class="row">
            <div class="col">
                <div class="col-md">
                    <div class="card text-center text-white  mb-3" id="members">
                        <div class="card-header">
                            <h5 class="card-title">Users</h5>
                        </div>
                        <div class="card-body">
                            <h3 class="card-title">{{users.count}}</h3>
                        </div>
                    </div>
                </div>
            </div>  
        </div>
    </div> 
</section>
<div class="container-fluid">
        <br>
        <div class="row">
            <div class="col-md">
                <div class="card card-body">
                    <h3 class="card-title text-center">User Information</h3>
                <br>
                    <table class="table table-sm">
                        <tr>
                            <th>Name</th>
                            <th>Surname</th>
                            <th>Username</th>
                            <th>Email Address</th>
                        </tr>
                        {% for user in users %}
                        <tr>
                            <td>{{user.first_name}}</td>
                            <td>{{user.last_name}}</td>
                            <td>{{user.username}}</td>
                            <td>{{user.email}}</td>
                            
                        </tr>
                    {% endfor %}
          
                    </table>
                </div>
            </div>
        </div>
</div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.slim.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.1/umd/popper.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.2/js/bootstrap.min.js"></script>
{% endif %}
</body>
</html>
