<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta http-equiv="X-UA-Compatible" content="ie=edge">
<meta name="Description" content="Enter your description here"/>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.2/css/bootstrap.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/css/all.min.css">
<link rel="stylesheet" href="assets/css/style.css">
<title>User Login</title>
<style type="text/css">
    body,
	html {
			margin: 0;
			padding: 0;
			height: 100%;
			background: #b4b7b8 !important;
		}
    .ui {
        background-color: #333;
        padding: 30px;
        margin-top: 80px;
        border-radius: 10px;
    }
    h3{
        color:antiquewhite;
    }
    a{
        color:antiquewhite;
    }
    a:hover{
        text-decoration: none;
        color:darkgoldenrod;
    }
</style>
</head>
<body>
    <div class="container">
        <div class="row">
            <div class="col-lg-3"></div>
            <div class="col-lg-6 ui">
                <div id="ui">
                    <div class="d-flex justify-content-center">
                        <h3 id="form-title">Login</h3>
                    </div>
                    <form action="" method='POST' class="form-group">
                        {% csrf_token %}
                        <div class="row">
                        </div>
                        <br />
                        <input type="text" name="username" id="username" placeholder="Username"class="form-control" required>
                        <br/>

                        <input type="password" name="password" class="form-control" placeholder="Password" required>

                        <br/>
                        <div class="d-flex justify-content-center mt-3 login_container">
                            <input class="btn btn-primary btn-lg" type="submit" value="Login">
                          </div>

                    </form>
                    <div class="text-center">
                        <a href="{% url 'register' %}">Create a new account</a>
                    </div>
                </div>
            </div>
            
            <div class="col-lg-3"></div>
        </div>
    </div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.slim.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.1/umd/popper.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
