<style>
    .hello-msg{
      font-size: 18px;
      color: #fff;
      margin-right: 20px;
      text-decoration: none;
    }
    .hello-msg:hover{
      color: #fff;
      text-decoration: none;
    }
  </style>
  {% load static %}
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="{% url 'profile' %}">
        PyApp
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item">

        </li>
      </ul>
    </div>
    <span ><a  class="hello-msg" href="{% url 'logout' %}">Logout</a></span>
  </nav>
  