<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta http-equiv="X-UA-Compatible" content="ie=edge">
<meta name="Description" content="Enter your description here"/>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.2/css/bootstrap.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/css/all.min.css">
<link rel="stylesheet" href="assets/css/style.css">
<title>PyApp | Profile</title>
<style type="text/css">
    body,
	html {
			margin: 0;
			padding: 0;
			height: 100%;
			background: #b4b7b8 !important;
		}
    .ui {
        background-color: #333;
        padding: 30px;
        margin-top: 80px;
        border-radius: 10px;
    }
    h3{
        color:antiquewhite;
    }
    a, p{
        color:antiquewhite;
    }
    a:hover{
        text-decoration: none;
        color:darkgoldenrod;
    }
</style>
</head>
<body>
    {% include 'app/navbar.html' %}
    <div class="container">
        <div class="row">
            <div class="col-lg-3"></div>
            <div class="col-lg-6 ui">
                <div id="ui">
                    <div class="d-flex justify-content-center">
                        <h3 id="form-title">Welcome {{ user.first_name }} {{user.last_name }}</h3>
                    </div>
                    <br>
                    
                    <strong><p>Your Name: {{ user.first_name }}</p>
                        <p>Your Surname: {{ user.last_name }}</p>
                        <p>Your Username: {{ user.username }}</p>
                        <p>Your Email Address: {{ user.email }}</p>
                    </strong>
                </div>
            </div>
            

            
            <div class="col-lg-3"></div>
        </div>
    </div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.slim.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.1/umd/popper.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
